<h1>Editar Sala</h1>
<mat-tab-group dynamicHeight class="group" >
  <mat-tab label="Geral"  class="tab" >
     <app-geral-room class="tab-content" [id]="id()" (onClickCancel)="changeCancel()"></app-geral-room>
  </mat-tab>
  <mat-tab label="Config. Acumulado">
    <app-edit-accumulated  (onClickCancel)="changeCancel()"></app-edit-accumulated>
  </mat-tab>
  <mat-tab label="Config. Bots">
    <app-edit-config-bots  (onClickCancel)="changeCancel()"></app-edit-config-bots>
  </mat-tab>
</mat-tab-group>
