
:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.group{
  display: flex;
  flex-direction: column;
  height: 100%;

  .tab{
    display: flex;
    flex-direction: column;
    height: 100%;

  }
}
.tab-content{
  height: 100%;

}
::ng-deep .mat-mdc-tab-body-wrapper{
  margin-top: 2rem;
  height: 100%;
}
::ng-deep .mdc-tab__text-label{
  color: white !important;
}
