<form class="form" [formGroup]="roomForm" (ngSubmit)="addRoom()">
  <h1>Adicionar Sala</h1>
  <section class="section">
    <div class="group">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Sala Dev" formControlName="roomName">
      </mat-form-field>
    </div>
    <div class="group-col">
      <mat-label>Imagem Sala</mat-label>

      <label class="label-avatar">
        <button class="remove-image" (click)="removeImage()">X</button>
        <span class="upload-icon">
          <mat-icon>upload</mat-icon>
        </span>
        <input type="file" accept="image/png, image/jpeg" (change)="handleFile($event)">
        @if(imageUrl){
        <img class="preview" alt="Foto da sala" [src]="imageUrl" width="250" height="250">
        }
      </label>
    </div>

  </section>
  <footer class="footer">
    <button class="btn-second" type="button" (click)="cancelar()">Cancelar</button>
    <button class="btn-primary" type="submit">Adicionar</button>
  </footer>
</form>
