
  <div class="container">
    <img src="/assets/icons/favicon.svg" alt="favicon">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="formgroup">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput type="password"formControlName="password" />
        </mat-form-field>
      </div>
      <div class="containerRegistrarRecuperar">
        <button type="submit" mat-flat-button class="btn-primary">Logar</button>
      </div>
    </form>
  </div>

