
<div class="header">
<button (click)="back()" > <mat-icon>arrow_back</mat-icon></button>
<h2>Editar Vendedor</h2>
</div>
<mat-tab-group dynamicHeight class="group" >
  <mat-tab label="Geral"  class="tab" >
     <ng-template matTabContent>
        <app-geral-seller [id]="this.id()"></app-geral-seller>
    </ng-template>
  </mat-tab>
  <mat-tab label="Casa online">
    <ng-template matTabContent>
        <app-online-house [onlineHouse]="this.seller?.onlineHouse!"></app-online-house>
    </ng-template>
  </mat-tab>
</mat-tab-group>
