<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="container-form">
    <mat-checkbox class="example-margin" formControlName="enabled">
      {{ !editForm.get('enabled')?.value ? "Ativar" : "Desativar" }}
    </mat-checkbox>
    <mat-form-field class="example-full-width">
      <mat-label>Taxa de retorno dos bots</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>

<div class="container-buttons">
  <button type="button" mat-flat-button  (click)="onClickCancel.emit()">Cancelar</button>
  <button class="btn-primary" type="submit" mat-flat-button>OK</button>
</div>
</form>
