<h1>Design Bingo</h1>

<mat-form-field class="example-full-width">
  <mat-label>Cor de fundo Primaria</mat-label>
  <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor de fundo Secundaria</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor de painel de informacoes</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor do painel do acumulado</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor de painel da cartela</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>


<h1>Numeros Cartelas e Painel</h1>

<mat-form-field class="example-full-width">
  <mat-label>Cor do numero</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor do numero marcado</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cor do numero atual</mat-label>
   <input matInput [value]="color" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" cpDialogDisplay="popup">
</mat-form-field>
