<form class="form" [formGroup]="Form" (ngSubmit)="addScratchSellerGame()">
  <h2>Adicionar Jogo</h2>
    <mat-form-field>
        <mat-label>Vendedor</mat-label>
        <mat-select name="sellerId" formControlName="sellerId">
          @for (seller of sellers(); track seller) {
          <mat-option [value]="seller.id">{{seller.email}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
          <mat-form-field>
        <mat-label>Game</mat-label>
        <mat-select name="scratchGameId" formControlName="scratchGameId">
          @for (game of scrachGames(); track game) {
          <mat-option [value]="game.id">{{game.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
  <footer class="footer">
    <button class="btn-second" type="button" (click)="cancelar()">Cancelar</button>
    <button class="btn-primary" type="submit">Adicionar</button>
  </footer>
</form>
